html {
  font-family: sans-serif;
  text-align: center;
  font-size: 6mm;
}
body { margin: 0; }
a {
  text-decoration: none;
  font-size: 150%;
}
a:hover { text-decoration: underline; }
h1 {
  color: hsl(0, 0%, 40%);
}
.outer {
  display: flex;
  flex-wrap: wrap;
}
.outer > div {
  flex: 15rem;
  padding: 0.3rem;
  margin: 0.3rem;
}
.outer > div:nth-child(1) { background-color: hsl(0, 100%, 96%); }
.outer > div:nth-child(2) { background-color: hsl(60, 100%, 94%); }
.outer > div:nth-child(3) { background-color: hsl(120, 100%, 96%); }
.outer > div:nth-child(4) { background-color: hsl(180, 100%, 95%); }
.outer > div:nth-child(5) { background-color: hsl(240, 100%, 97%); }
